.dark {
	--theme: #1E1B23;
	--entry: #1a171e;
	--primary: #e1d9d4;
	--secondary: #c8c2bf;
	--tertiary: #2e2c2d;
	--content: #e1d9d4;
	--code-block-bg: #1a171e;
	--code-bg: #37303f;
	--border: #37303f;
}

.entry-header h2 {
	color: #8BB8D0;
}

.post-title {
	margin-bottom: 2px;
	font-size: 35px;
	/* color: #e1d9d4; */
	color: #adc1cb;
}

.post-content h1 {
	margin: 40px auto 32px;
	font-size: 32px;
	color: #e1d9d4;
}

.post-content h2 {
	margin: 32px auto 24px;
	font-size: 27px;
	color:#8BB8D0;
}

.post-content h3 {
	font-size: 22px;
	color: #bc9cd3;
}

.post-content h4 {
	font-size: 18px;
	color: #d9c095;
}

.post-content h5 {
	font-size: 14px;
	color: #d9c095;
}

.post-content h6 {
	font-size: 12px;
	color: #d9c095;
}

body.dark .logo a {
	font-size: 1.7rem;
}

body:not(.dark) .logo a {
	color: #8BB8D0;
}

.post-tags a:hover,
.paginav a:hover {
	color: #8BB8D0;
}

.social-icons a:hover {
	color: #8BB8D0;
}

.social-icons a {
	display: inline-flex;
	padding: 10px;
}

.post-content hr {
	margin: 30px 0;
	height: 1px;
	background: var(--tertiary);
	border: 0;
	opacity: .2;
	border-width: 0 0 3px 0;
	border-style: dashed;
	background: transparent;
	width: 95%;
	margin: 1.5em auto;
}

.main {
	position: relative;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	max-width: calc(var(--main-width) + var(--gap) * 9);
	margin: auto;
	padding: var(--gap);
}

.post-content code {
	margin: auto 2px;
	padding: 3px 4px;
	font-size: 0.87em;
	line-height: 1.5;
	background: var(--code-bg);
	border-radius: 5px;
}

.highlight pre {
	/* box-shadow: 5px 5px 10px #3c2c3d; */
	padding: 5px;
}

.entry-footer {
	font-style: italic;
	font-size: 13px;
	text-align: left;
}

.post-meta {
	width: 100%;
}

.post-entry {
	border-radius: 15px;
}

.post-entry {
	display: block;
	border-width: 0;
	/* add shadow around the block */
	/* box-shadow: 0px 0px 10px #3c2c3d; */
}

body.dark .post-content a:hover {
	/* color: #e692c6; */
	color: #8b9194;
}

/* .nav {
	justify-content: center;
	text-align: center;
} */

.nav.entry-header:hover {
	color: #8BB8D0;
}

body.dark #menu span {
	font-weight: bold;
}

.nav {
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: calc(var(--nav-width) + var(--gap) * 8);
	margin-inline-start: auto;
	margin-inline-end: auto;
	line-height: var(--header-height); */
	justify-content: center;
	text-align: center;
}

#menu span {
	text-decoration: underline;
}

#menu span:hover {
	color: #8BB8D0;
}

#menu img {
	margin-top: 20px;
}

#menu .active {
	font-weight: 700;
	color: #8BB8D0;
	text-decoration: none;
}

#menu svg {
	margin-top: 20px;
	width: 20px;
	height: 20px;
}

body.dark #menu svg path {
	fill: #8BB8D0;
}

.archive-year:not(:last-of-type) {
	border-bottom: 2px solid var(--border);
	/* opacity: .2; */
	border-width: 0 0 3px 0;
	border-style: dashed;
	/* background: transparent; */
	width: 95%;
	/* margin: 1.5em auto; */
}

.archive-month:not(:last-of-type) {
	border-bottom: 1px solid var(--border);
	opacity: .2;
	border-width: 0 0 3px 0;
	border-style: dashed;
	background: transparent;
	width: 95%;
	margin: 1.5em auto;
}

html,
body {
	font-family: "JetBrains Mono", monospace;
}

code {
	font-family: "JetBrains Mono";
}