{# Page hooks - empty components for users to override #}
{% component hooks.post_above_content(page) %}{% endcomponent hooks.post_above_content %}
{% component hooks.post_below_content(page) %}{% endcomponent hooks.post_below_content %}
{% component hooks.post_below_tags(page) %}{% endcomponent hooks.post_below_tags %}
{% component hooks.posts_below_title(page) %}{% endcomponent hooks.posts_below_title %}

{# OpenGraph image hook #}
{% component hooks.og_image_tags(page = null) %}
{%- if page and page.extra.og_preview_img -%}
<meta
    property="og:image"
    content="{{ get_url(path=page.extra.og_preview_img) | safe }}"
/>
{%- endif -%}
{% endcomponent hooks.og_image_tags %}
