{# Image components for responsive image handling #}

{% component images.image(path, src, alt, class = "") %}
<img alt="{{ alt }}" title="{{ alt }}" src="{{ get_url(path=path ~ src) | safe }}" class="{{ class }}" />
{% endcomponent images.image %}

{% component images.responsive_image(path, src, alt, default_size, sizes, config, class = "") %}
{% set abspath = path ~ src -%}
{% set meta = get_image_metadata(path=abspath) -%}
{% set width = meta.width -%}
{% set srcset_list = [resize_image(format=config.extra.image_format, path=abspath, width=s, op="fit_width", quality=config.extra.image_quality) | get(key="url") ~ " " ~ s ~ "w" for s in sizes if width >= s] -%}
{% set default_resized_url = resize_image(format=config.extra.image_format, path=abspath, width=default_size, op="fit_width", quality=config.extra.image_quality) | get(key="url") -%}
<img alt="{{ alt }}" title="{{ alt }}" src="{{ default_resized_url | safe }}" srcset="{{ srcset_list | join(sep=", ") | safe }}" class="{{ class }}" />
{% endcomponent images.responsive_image %}
