:root {
	/* --dark-primary-color: 32, 29, 36; */
	--dark-primary-color: #1E1B23;
	--dark-secondary-color: #2a252f;
	--dark-tertiary-color: #4c414a;
	--dark-text-color: #e1d9d4;
}

html {
	/* background-color: rgb(var(--dark-primary-color)); */
	background-color: var(--dark-primary-color);
	color: var(--dark-text-color);
	fill: var(--dark-text-color);
}

.header {
	/* background-color: rgba(var(--dark-primary-color), 0.95); */
	background-color: var(--dark-primary-color);
}

.nav-hamburger-list {
	/* background: rgba(var(--dark-primary-color), 1); */
	background-color: var(--dark-primary-color);
}

.nav-links .nav-icons-divider {
	color: var(--dark-secondary-color);
}

a:hover .feather-moon {
	fill: #51858c;
	color: #e1ddda;
}

.social-icons-list .social-icon,
.social-icons-list .social-icon a:visited {
	fill: var(--dark-text-color);
}

.social-icons-list .social-icon a:hover {
	fill: var(--accent-color);
}

.post-tags .post-tag:hover {
	/* background-color: var(--accent-color); */
	color: var(--accent-color);
}

.tags-list .post-tags .post-tag a .tag-posts-count {
	/* background-color: var(--dark-secondary-color); */
	color: var(--accent-color);
}

.tags-list .post-tags .post-tag:hover a .tag-posts-count {
	/* background-color: var(--accent-color); */
	color: var(--accent-color);
}

.footer {
	border-top-color: var(--dark-header-bg-color);
}

blockquote {
	color: #8a808b;
	border-left-color: var(--dark-secondary-color);
}

hr {
	color: var(--dark-secondary-color);
}

table thead {
	background-color: var(--dark-secondary-color);
}

table td,
table th {
	border-bottom-color: var(--dark-secondary-color);
}

code,
pre {
	background-color: var(--dark-secondary-color) !important;
}

:not(pre)>code {
	background-color: var(--dark-tertiary-color) !important;
	color: var(--dark-text-color);
}

.header-shadow {
	box-shadow: rgb(33, 38, 45) 0px -1px 0px 0px inset;
}

/* TODO: Check if this is needed or not */
/* 
img,
video {
  filter: hue-rotate(180deg) contrast(100%) invert(100%);
  -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
} 
*/